# Ignore macOS system files
.DS_Store

# Ignore build artifacts
.build
.swiftpm
xcuserdata
*.xcodeproj
DerivedData/

# Ignore environment files
.env
.env.*
!.env.example

# Ignore package manager files
Packages

# Ignore database files
db.sqlite

# Ignore VSCode settings
.vscode
